# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables (API keys, etc.)
.env

#prompts
Prompts/

#nologs
*.txt
*.log

# Voice cards
Voice cards/

# System files
.DS_Store
